# Ignore MAME files
artwork/
bgfx/
cfg/
ctrlr/
docs/
hash/
hlsl/
ini/
language/
plugins/
roms/
samples/
castool.exe
chdman.exe
console_history
COPYING
floptool.exe
imgtool.exe
jedutil.exe
ldresample.exe
ldverify.exe
mame.exe
mame.sym
nltool.exe
nlwav.exe
romcmp.exe
uismall.bdf
unidasm.exe
whatsnew.txt